.img-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(49, 48, 48);
    border-radius: 10px;
    margin: 15px;
    padding: 10px;
    height: 90%;
    width: 80%;
}

.form-container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 90%;
    height: 90%;
    gap: 20px;
}

.img-form-title {
    font-size: 1.5em;
}

.img-input-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    width: 100%;
}

.img-input {
    font-size: 1em;
    height: 25px;
    width: 100%;
    border-radius: 5px;
    font-family: 'Roboto Condensed', serif;
    border: solid;
    border-color: white;

    transition: border-color 0.2s;
}

.img-input:active {
    border-color: rgb(133, 133, 133);
}

.img-input:hover {
    border-color: rgb(133, 133, 133);
}

.img-description {
    height: 5vh;
}

.img-form-source {
    background-color: white;
    align-self: center;
    width: 100%;
    height: 20vw;
    transition: width 0.5s ease-in-out;
}

.btn-picture {
    display: flex;
    justify-content: center;
    height: max-content;
    align-self: center;
    width: 100%;
    border: none;
    margin-top: 5px;
    transition: background-color 0.2s;
    width: 20%;
}

.btn-picture:hover {
    background-color: rgb(110, 106, 106);
}

.btn-add {
    position: relative;
    background-color: white;
    color: black;
    text-align: center;
    width: 100%;
    height: 5vh;
    align-self: center;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    transition: background-color 0.2s;
}

.btn-add:hover {
    background-color: rgb(110, 106, 106);
}

.text-error {
    color: red;
}

.img-form-tooltip {
    position: absolute;
    top: 100px;
    opacity: 0;
    transition: opacity 0.2s;
    background-color: #000000;
    padding: 3px;
    border-radius: 5px;
    color: white;
}

.btn-picture:hover .img-form-tooltip {
    opacity: 1;
}

@media(max-width: 600px) {
    .img-form-source {
        height: 240px;
    }
}