.navbar {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    height: 8vh;
    background-color: rgb(42, 43, 43);
    align-items: center;
    display: flex;
    padding: 10px;
}

.navbar-brand {
    text-decoration: none;
    color: white;
    font-size: 25px;
}