body {
    margin: 0;
}

.main {
    display: flex;
}

.gallery-section {
    width: 70%;
    background-color: rgba(153, 151, 151, 0.7);
    height: 100vh;
    position: relative;
    padding: 10px;
}

.form-section {
    width: 0;
    display: flex;
    background-color: rgb(25, 24, 24);
    text-align: center;
    color: white;
    transition: width 0.5s ease-in-out;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.update-section {
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: width 0.5s ease-in-out;
}

.update-empty {
    text-align: center;
    font-size: 2em;
    color: black;
}

.expanded {
    width: 30%;
}

.contracted {
    width: 0;
}


/* gallery */

@media(max-width: 600px) {
    .main {
        display: inline;
    }

    .gallery-section {
        width: 100%;
    }

    .form-section {
        width: 100%;
    }

    .update-section {
        width: 100%;
    }
}